@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

html {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  background-color: #000;
}

body {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('mazzy.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}


.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  align-items: center;
  margin-bottom: 130px;
}


.container h1:hover {
  outline: 2px rgba(177, 32, 32, 0) solid;
}


.musica {
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  top: 20px;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
  border-radius: 10px;
  height: 80px;
  gap: 6px;
  opacity: 0;
  transition: opacity 1s ease;
}

#albumImg {
  outline: 1px solid black;
  border-radius: 5px;
  margin-right: 4px;
  width: 64px;
  height: 64px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.musica span {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  font-family: "Jost", sans-serif;
}


.link-box {
  width: 200px;
  height: 60px;
  background: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Jost", sans-serif;
  text-decoration: none;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(-200px);
  animation: fall 1s forwards;
}

.mail {
  display: flex;
  position: absolute;
  bottom: 40px;
  width: 50vw;
  height: 32vh;
  transform: translateY(30px);
  animation: fadeIn 1.2s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mail input,
.mail textarea {
  background: transparent;
  border-color: black;
  color: white;            
}

.mail ::placeholder {
  color: white;            
  opacity: 1;            
}

#contact-form {
  background: transparent;
}

.link-box:nth-child(1) {
  animation-delay: 0.3s;
}

.link-box:nth-child(2) {
  animation-delay: 0.5s;
}

.link-box:nth-child(3) {
  animation-delay: 0.7s;
}

.link-box:nth-child(4) {
  animation-delay: 0.9s;
}


@keyframes fall {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.link-box:hover {
  outline: 2px black solid;
}

@media (max-width: 992px) {
  body {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('mediumm.png');
  }
}


@media (max-width: 576px) {
  body {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('Screenshot From 2025-10-30 13-23-04.png');
  }


  .musica {
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 10px;
  }

  .links {
    font-size: 28px;
  }

  .musica span {
    font-size: 14px;
  }

  .container h1 {
    font-size: 45px;
    width: 80vw;
    text-align: center;
    margin-bottom: 60px;
  }
}


.links {
  font-size: 30px;
}

.coiso {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-left: 10px;
}

#last {
  width: 42px;
  height: 42px;
  border-radius: 30px;
  margin-left: 10px;
}

.linkImages {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}